.input {
    margin: 8px 0;
    width: 100%;
    min-height: 35px;
    padding: 7px 9px 7px 8px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
option {
    background-color: #FFFFFF;
    border-radius: 5px;
}
.input__hidden {
    display: none;
}