.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    margin: 20px 16px auto 14px;
    width: 282px;
    /* min-height: 197px; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #EBECF0;
    border-radius: 10px;
}
.block_title {
    color: #000000;
}