.footer {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0067A3;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer__counterblock {
    margin-left: 14px;
}
.footer__copyright {
    margin-right: 16px;
}